*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/
.idea/compiler.xml
.idea/copyright/
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
app/google-services.json
